<%- include('partials/header') %>

  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="bootstrap" viewBox="0 0 118 94">
      <title>Inventory</title>
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z">
      </path>
    </symbol>
    <symbol id="home" viewBox="0 0 16 16">
      <path
        d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z">
      </path>
  </svg>

  <main class="d-flex flex-nowrap">
    <%- include('partials/menu') %>

      <div class="  b-example-vr"></div>
      <div class="container" style="overflow-y: scroll;">
        <div class="card">
          <div class="card-header">
            <h1>Transaksi Barang Masuk dan Barang Keluar</h1>
          </div>
          <div class="card-body">
            <h3>Filter</h3>
            <form action="" method="get">
              <div class="row">
                <div class="col-25">
                  <label for="cari_id">Invoice</label>
                </div>
                <div class="col-75">
                  <input type="text" id="cari_id" name="cari_id" placeholder="Invoice"
                    value="<%= query.cari_id ? query.cari_id : '' %>"><br>
                </div>
              </div>
              <br>
              <label for="cari_tanggal_awal">Cari Tanggal</label>
              <br>
              <br>
              <div class="row">
                <div class="col-25">
                  <label for="cari_tanggal_awal">Start Date</label>
                </div>
                <div class="col-75">
                  <input type="text" id="cari_tanggal_awal" name="cari_tanggal_awal" placeholder="Choose Date.."
                    value="<%= query.cari_tanggal_awal ? query.cari_tanggal_awal : '' %>" onfocus="(this.type='date')"
                    onblur="(this.type='text')"><br>
                </div>
              </div>
              <label for="between">to</label>
              <div class="row">
                <div class="col-25">
                  <label for="cari_tanggal_akhir">End Date</label>
                </div>
                <div class="col-75">
                  <input type="text" id="cari_tanggal_akhir" name="cari_tanggal_akhir" placeholder="Choose Date.."
                    value="<%= query.cari_tanggal_akhir ? query.cari_tanggal_akhir : '' %>" onfocus="(this.type='date')"
                    onblur="(this.type='text')"><br>
                </div>
                <br>
                <br>
                <br>
                <div class="row">
                  <div class="col-25">
                    <label for="cari_id">Show</label>
                  </div>
                  <div class="col-75">
                    <select class="form-select" id="show" name="show" style="width: 98%">
                      <option value="beli" <%=show=="beli" ? 'selected' : null %>>Barang Masuk</option>
                      <option value="jual" <%=show=="jual" ? 'selected' : null %>>Barang Keluar</option>
                    </select>
                  </div>
                </div>

              </div>
              <div class="container" style="margin-top: 25px;">
                <button type="submit" class="btn btn-info" style="margin-right: 20px"><i class="bi bi-search"
                    style="margin-right: 10px;"></i>Search</button>
                <a href="/"><button type="button" class="btn btn-warning" style="margin-right: 20px"><i
                      class="bi bi-arrow-clockwise" style="margin-right: 10px;"></i>Reset</button></a>
            </form>
          </div>
          <br>
          <table id="tabel_masuk" class="table table-hover table-striped">
            <thead class="table-primary">
              <tr>
                <th scope="col">No</th>
                <th scope="col">No Invoice</th>
                <th scope="col">Tanggal</th>
                <th scope="col">Total Harga</th>

              </tr>
            </thead>
            <tbody>
              <% rows.forEach((item, index)=> { %>
                <tr>
                  <td scope="row">
                    <%= index + 1 %>
                  </td>
                  <td>
                    <a href="/barang_masuk/show/<%= item.no_invoice_beli %>">
                      <%= item.no_invoice_beli %>
                    </a>
                    <a href="/barang_jual/show/<%= item.no_invoice_jual %>">
                      <%= item.no_invoice_jual %>
                    </a>
                  </td>
                  <td>
                    <%= item.tanggal_pembelian ? moment(item.tanggal_pembelian).format('DD MMMM YYYY') : '' %>
                      <%= item.tanggal_penjualan ? moment(item.tanggal_penjualan).format('DD MMMM YYYY') : '' %>
                  </td>
                  <td class="right-position">
                    <%= item.total_harga_beli ? currencyFormatter.format(item.total_harga_beli) : '' %>
                      <%= item.total_harga_jual ? currencyFormatter.format(item.total_harga_jual) : '' %>
                  </td>
                  <% }) %>
                </tr>
            </tbody>
          </table>
          <div class="card-body">
            <table id="tabel_masuk" class="table table-hover table-striped">
              <thead class="table-primary">
                <tr>
                  <th scope="col">Total Uang <%= detail_result[0].total_beli ? 'Masuk' : 'Keluar' %> dari <%=
                        query.cari_tanggal_awal ? moment(query.cari_tanggal_awal).format('DD MMMM YYYY') : 'awal' %>
                        sampai <%= query.cari_tanggal_akhir ? moment(query.cari_tanggal_akhir).format('DD MMMM YYYY')
                          : 'akhir' %>
                  </th>
                  <th scope="col">
                    <%= profit ? 'Profit' : '' %>
                  </th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td class="right-position <%= detail_result.total_beli ? 'table-warning' : 'table-success' %>">
                    <%= detail_result.total_beli ? currencyFormatter.format(detail_result.total_beli) :
                      currencyFormatter.format(total) %>
                  </td>
                  <td class="right-position <%= detail_result.total_beli ? 'table-warning' : 'table-success' %>">
                    <%= detail_result[0].total_beli ? '' : currencyFormatter.format(profit) %>
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
          <div class="pagination">
            <a
              href="<%= currentPage == 1 ? currentUrl : currentUrl.includes(`&page=${currentPage}`) ? currentUrl.replace(`&page=${currentPage}`, `&page=${(currentPage - 1)}`) : `/?page=${(currentPage - 1)}` %>">Previous</a>
            <% for (let i=1; i <=page; i++) { %>
              <a href="<%= currentUrl.includes(`&page=${currentPage}`) ? currentUrl.replace(`&page=${currentPage}`, `&page=${i}`) : `/?page=${i}` %>"
                class=<%=currentPage==i ? 'active' : null %>>
                <%= i %>
              </a>
              <% } %>
                <a
                  href="<%= currentPage == page ? currentUrl : currentUrl.includes(`&page=${currentPage}`) ? currentUrl.replace(`&page=${currentPage}`, `&page=${(currentPage + 1)}`) : `/?page=${(currentPage + 1)}` %>">Next</a>
          </div>
          <div class="container" style="margin: 1px;">
            <select class="form-select" id="cek_stok" name="cek_stok"
              style="float: right; clear: none; margin-bottom: 2%; margin-right: 0.5%; width: 30%;">
              <option value="0" id="cek_stok" name="cek_stok"
                style="float: right; clear: none; margin-top: 0.5%; margin-right: 0.5%;">Stok Tersedia</option>
              <option value="50" id="cek_stok" name="cek_stok"
                style="float: right; clear: none; margin-top: 0.5%; margin-right: 0.5%;">Stok | 0 <= 50</option>
              <option value="100" id="cek_stok" name="cek_stok"
                style="float: right; clear: none; margin-top: 0.5%; margin-right: 0.5%; width: 5px;">Stok |0 <= 100
              </option>
            </select>
          </div>

          <table id="tabel_varian" class="table table-hover table-striped table-success">
            <thead class="table-info">
              <tr>
                <th scope="col">No.</th>
                <th scope="col">ID</th>
                <th scope="col">Nama</th>
                <th scope="col">Stok</th>
                <th scope="col">Harga Beli</th>
                <th scope="col">Harga Jual</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
  </main>
  <%- include('partials/script-footer') %>
    <script>
      $(document).ready(function () {
        readVarian()
        $("#cek_stok").change(function () {
          let display = $("select[name=cek_stok]").val();
          $.get(`/showvarian`).done(function (data) {
            let html = ''
            data.forEach((item, index) => {
              if (parseInt(display) >= parseInt(item.stok_varian)) {
                html += `
                    
                      <tr>
              <th scope="row">
                ${index + 1}
              </th>
              <td>
                ${item.id_barang}
              </td>
              <td>
                ${item.nama_varian}
              </td>
              <td>
                ${item.stok_varian}
              </td>
              <td class="right-position">
                ${currencyFormatter.format(item.harga_varian)}
              </td>
              <td class="right-position">
                ${currencyFormatter.format(item.harga_jual)}
              </td>
            </tr>
                    `
              }
            })
            $('#tabel_varian tbody').html(html)
          })

        })
      })

      const readBeli = () => {
        $.get(`/showbeli`).done(function (data) {
          console.log(data)
          let html = ''
          data.forEach((item, index) => {
            html += `
                    <tr>
              <th scope="row">
                 ${index + 1} 
              </th>
              <td>
                 ${item.no_invoice_beli} 
              </td>
              <td>
                 ${moment(item.tanggal_pembelian).format('DD MMMM YYYY')} 
              </td>
              <td>
                 ${item.nama_supplier}
              </td>
              <td>
                 ${item.nama_barang}
              </td>
              <td class="right-position">
                 ${item.total_harga_beli}
              </td>
              <td>
                 ${item.nama_gudang}
              </td>
              <td>
                 ${item.qty}
              </td>
            </tr>
                    `
          })
          $('#tabel_masuk tbody').html(html)
        })
      }
      const readVarian = () => {
        $.get(`/showvarian`).done(function (data) {
          let html = ''
          data.forEach((item, index) => {
            html += `
                    
                      <tr>
              <th scope="row">
                ${index + 1}
              </th>
              <td>
                ${item.id_barang}
              </td>
              <td>
                ${item.nama_varian}
              </td>
              <td>
                ${item.stok_varian}
              </td>
              <td class="right-position">
                ${currencyFormatter.format(item.harga_varian)}
              </td>
              <td class="right-position">
                ${currencyFormatter.format(item.harga_jual)}
              </td>
            </tr>
                    `
          })
          $('#tabel_varian tbody').html(html)
        })
      }
    </script>


    <%- include('partials/footer') %>